{% extends "layout.html" %}

{% block content %}
<div class="form-overlay mobile-padding">
	<div class="center-text">
        <h3>Log in</h3>
        {% if message %}
    <p id="fadeMessage" style="color:#ff0000">{{ message }}</p>
    <script>
        setTimeout(function() {
            var fadeTarget = document.getElementById("fadeMessage");
            var fadeEffect = setInterval(function () {
                if (!fadeTarget.style.opacity) {
                    fadeTarget.style.opacity = 1;
                }
                if (fadeTarget.style.opacity > 0) {
                    fadeTarget.style.opacity -= 0.1;
                } else {
                    clearInterval(fadeEffect);
                    fadeTarget.style.display = 'none';
                }
            }, 200);
        }, 5000);
    </script>
{% endif %}
    </div>
    <form id="infoForm" method="post" action="/userlogin">
        <div class="form-group">
            <label style="color: white;" for="username">Email or Username</label>
            <input type="text" id="username" placeholder="Email or Username" name="username" required autocomplete="off">

            <label style="color: white;">Password</label>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Password" required autocomplete="off">
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
    <div class="center-text">
        <br>
        <h3 style="color:white; margin: 0;">Or</h3>
        <br>
        <div style="display: flex; align-items: center; justify-content: center; gap: 20px;">
            <a type="button" class="buttonred" href="/create" role="button">Signup</a>
            <a type="button" class="buttonred" href="/passreset" role="button">Reset Password</a>
        </div>
        
    </div>
</div>





<script>
    document.addEventListener("DOMContentLoaded", function() {
        const nameInput = document.getElementById("name");
        const suggestionsContainer = document.getElementById("nameSuggestions");
	const memberNames = "{{ member_names }}"
    
        nameInput.addEventListener("input", async function() {
            const inputVal = this.value;
            suggestionsContainer.innerHTML = ''; 
            if (!inputVal) return;
    
            try {
                const response = await fetch('/api/member-names');
                const names = await response.json();
                const filteredNames = names.filter(name => name.toLowerCase().includes(inputVal.toLowerCase())).slice(0, 8); // Limit to 8 names
                filteredNames.forEach(name => {
                    const div = document.createElement("div");
                    div.innerHTML = name;
                    div.classList.add("suggestion-item");
                    div.addEventListener("click", function() {
                        nameInput.value = name;
                        suggestionsContainer.innerHTML = '';
                    });
                    suggestionsContainer.appendChild(div);
                });
            } catch (error) {
                console.error('Error fetching member names:', error);
            }
        });
    });
    
    
    var maxx = document.body.clientWidth;
    var maxy = document.body.clientHeight;
    var halfx = maxx / 2;
    var halfy = maxy / 2;
    var canvas = document.createElement("canvas");
    document.body.appendChild(canvas);
    canvas.width = maxx;
    canvas.height = maxy;
    var context = canvas.getContext("2d");
    var dotCount = 200;
    var dots = [];
    for (var i = 0; i < dotCount; i++) {
        dots.push(new dot());
    }
    function render() {
        context.fillStyle = "#000000";
        context.fillRect(0, 0, maxx, maxy);
        for (var i = 0; i < dotCount; i++) {
            dots[i].draw();
            dots[i].move();
        }
        requestAnimationFrame(render);
    }


    function dot() {

        this.rad_x = 2 * Math.random() * halfx + 1;
        this.rad_y = 1.2 * Math.random() * halfy + 1;
        this.alpha = Math.random() * 360 + 1;
        this.speed = Math.random() * 100 < 50 ? 1 : -1;
        this.speed *= 0.1;
        this.size = Math.random() * 5 + 1;
        this.color = Math.floor(Math.random() * 256);

    }

    dot.prototype.draw = function () {

        var dx = halfx + this.rad_x * Math.cos(this.alpha / 180 * Math.PI);
        var dy = halfy + this.rad_y * Math.sin(this.alpha / 180 * Math.PI);
        context.fillStyle = "rgb(" + this.color + "," + this.color + "," + this.color + ")";
        context.fillRect(dx, dy, this.size, this.size);

    };
    dot.prototype.move = function () {

        this.alpha += this.speed;
        if (Math.random() * 100 < 50) {
            this.color += 1;
        } else {
            this.color -= 1;
        }

    };
    render();
</script>
<style>
    .form-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: black;
    padding: 20px;
    margin-top: 83px;
    border-radius: 10px;
    width: 40%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
.form-select {
    width: 100%;
    padding: 10px;
}
button {
        display: block;
        width: 100%;
        padding: 20px;
        background-color: #B00812;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Lalezar", system-ui;
    }

    button:hover {
        background-color: #751212;
    }

@media (max-width: 768px) {
    .form-overlay {
        padding: 5%;
        width: 80%;
    }

    button {
        display: block;
        width: 100%;
        padding: 20px;
        background-color: #751212;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #c11515;
    }
}

</style>
{% endblock %}